.paginated {
    width: 15cm;
    margin-left: 21cm;
}

.paginator {
    background-color: rgb(183, 199, 79);
    color: black;
    width: 15cm;
    font-weight: 500;
    font-size: 18px;
    margin-left: 0.7cm;
    border-radius: 10px;
}

.listpagi {
    list-style: none;
}

li {
    list-style: none;
}

.container {
    display: inline-flex;
}

.hide {
    display: none;
}

.first {
    background-color: blue;
}