nav {
    background-color: blueviolet;
    padding: 5px;
    margin: 0px;
}

ul {
    float: right;
    list-style-type: none;
    margin-right: 2cm;
}

ul li {
    display: inline-block;
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}

li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 25px;
}

button {
    margin: 5px;
    margin-top: 0.5cm;
    text-align: center;
}