<div class="card" style="width:8cm; margin-left: 20cm;margin-top: 3cm;">
    <div class="card-body">
        <h1 class="card-title">To do list</h1>
        <input type="text" placeholder="Enter task" name="task" #task onfocus="this.value=''"> <br>
        <br>
        <button class="btn btn-success" (click)="addtask(task.value)" (click)="high()">Add Task</button>
        <br>
        <div class="card-text" style="margin-top: 10px;">

            @for(i of taskdetail;track i){
            <ul>
                <li [style.backgroundColor]="color">{{i.name}} <button class="btn btn-danger" (click)="Remove(i.id)">Remove</button></li>
            </ul>
            }

        </div>

    </div>
</div>


<!-- <h1> Calling Child Component </h1>

<app-child [item]="data"></app-child>
    <button (click)="updateChild()">Update Child Value</button>

<h1> Resuable Component</h1>


<div>
    @for(u of userData;track u) {
    <app-child [user]="u"></app-child>
    }
</div>


<h1>Calling child 1</h1>

<app-child1 (updateData)="updateData($event)"></app-child1>
<h1>{{child1data}}</h1>

<h1>Two Way binding</h1>
<input #input type="text" placeholder="Enter Any" [(ngModel)]="binding">
<p>{{binding}}</p>

<h1>Pipes</h1>
<h1>{{"This is me"}}</h1>
<p>{{titleData | uppercase}}</p>
<p>{{titleData | lowercase}}</p>
<p>{{titleData | titlecase}}</p>


<h1>Custom Pipes</h1>
<h1>{{20 |addtwo:40:60}}</h1> -->

<h1>Template Driven Form</h1>

<form #f="ngForm" (ngSubmit)="getform(f.controls)">
    <input type="text" name="name" ngModel placeholder="Enter Name">
    <br><br>
    <input type="email" name="email" ngModel placeholder="Enter Email">
    <br><br>
    <button>Submit</button>

</form>
<button (click)="getform(f.value)">Submit From Outside</button>

<br><br>
<h1>Reactive Form</h1>
<form [formGroup]="loginform" (ngSubmit)="getReactiveForm()">
    <input type="text" placeholder="Enter Name" formControlName="name">
    <br> @if(name && name.invalid && name.touched){
    <span style="color: red;">This is not valid</span> }
    <br><br>
    <input type="email" placeholder="Enter Email" formControlName="email">
    <br> @if(email && email.invalid && email.touched){
    <span appMakeRed>This is not valid Email</span> }
    <br><br>
    <input type="password" placeholder="Enter Password" formControlName="password">
    <br> @if(password && password.invalid && password.touched){
    <span appMakeRed>Password length minimum 8 character</span> }
    <br><br>
    <button [disabled]="loginform.invalid">Submit</button>
</form>
<h1>Routing</h1>
<a href="child/">Child Component</a> <br><br>
<a href='child1/'>Child 1 Component</a>
<router-outlet>
</router-outlet>